[report]
omit =
    pyrobot/ordereddict.py
    pyrobot/responses.py
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
